body {
    background-image: url(../img/original_web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-attachment: fixed;
    
}
/* foto groote aanpassen aan screen width */
.fotoIndex {
    max-width: 25%;
}

.background_blue {
    background-color: #202326;
    color: #9BB5BF;
}

footer {
    color: #9BB5BF;
}
footer a {
    color: #9BB5BF ;
}

.pexelslogo{
    width: 16px ;
    height: 21px;
}

.btncolor{
    color: #202326;
    background-color: #A67314;
}
.btncolor:hover{
    color: #202326;
    background-color: #a6731477;
}

.borderyellow{
    border-color:  #A67314;
    border-width: 0.062rem;
    border-style: solid;
}
.squareborder{
    border-radius: 0;
}

@media only screen and (max-width: 992px)
{
    .fotoIndex {
        max-width: 40%;
    }
}



